.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5rem 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-white);
  z-index: 1;
}

.title {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 20px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0.5) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.description {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
  color: var(--color-primary);
}

.socials {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 30px;
}

.socials a {
  color: var(--color-white);
  font-size: 2rem;
  transition: var(--transition);
}

.socials a:hover {
  color: var(--color-primary);
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-bg);
  border-radius: 100px;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 25px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  transition: var(--transition);
}

.contactBtn:hover {
  background-color: var(--color-white);
}

/* === Profile Image Styling === */
.heroImg {
  width: 35%;
  max-width: 400px;
  border-radius: 50%;
  z-index: 1;
  animation: floating 3s ease-in-out infinite;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  border: 3px solid var(--color-primary);
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/* === Media Queries for Responsiveness === */
@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    text-align: center;
    padding-top: 8rem;
  }

  .content {
    align-items: center;
  }

  .heroImg {
    width: 50%;
    max-width: 250px;
    margin-bottom: 2rem;
  }

  .title {
    font-size: 52px;
  }

  .description {
    font-size: 24px;
  }
}
